---
import Card from "@components/card.astro";
import Layout from "@layouts/Layout.astro";


const imagesGallery = [
  {
    imageurl: "portal-del-mar.webp",
    nombre: "Portal del Mar",
    ejecucion: "Marzo 2019",
    duracion: "2 Meses",
    monto: "150,000"
  },
  {
    imageurl: "ofibodega.webp",
    nombre: "Ofibodegas Pradexa",
    ejecucion: "Septiembre 2019",
    duracion: "5 Meses",
    monto: "1,500,000"
  },
  {
    imageurl: "hotel-las-colinas.webp",
    nombre: "Hotel Las Colinas",
    ejecucion: "Noviembre 2019",
    duracion: "4 Meses",
    monto: "2,200,000"
  },
  {
    imageurl: "residencial-hamory.webp",
    nombre: "Residencial Hamory",
    ejecucion: "Diciembre 2019",
    duracion: "4 Meses",
    monto: "111,360"
  },
  {
    imageurl: "urbanizacion-las-delicias.webp",
    nombre: "Urbanización Las Delicias",
    ejecucion: "Septiembre 2019",
    duracion: "4 Meses",
    monto: "115,696"
  },
  {
    imageurl: "residencial-monte-cielo.webp",
    nombre: "Residencial Monte Cielo",
    ejecucion: "Octubre 2019",
    duracion: "3 Meses",
    monto: "50,156"
  },
  {
    imageurl: "bahia-nacascolo.webp",
    nombre: "Bahía Nacascolo",
    ejecucion: "Enero 2020",
    duracion: "2 Meses",
    monto: "111,589"
  },
  {
    imageurl: "proyecto-bodega-zofrapo.webp",
    nombre: "Proyecto Bodega Zofrapo",
    ejecucion: "Abril 2020",
    duracion: "10 Meses",
    monto: "224,265.33"
  },
  {
    imageurl: "casa-presidencial.webp",
    nombre: "Casa Presidencial",
    ejecucion: "2021",
    duracion: "1 ½ año",
    monto: "600,000"
  }
];
---

<Layout title="AG | Galeria">
  <div class="info bg-white">

    <main class="max-w-screen-xl mx-auto px-5 py-16">

      <div class="mb-12">
        <h3
          class="text-[#003566] sm:text-7xl text-6xl font-bold lg:tracking-tight xl:tracking-tighter">
          <p class="font-light text-5xl text-[#003566]">Nuestros</p> Proyectos
        </h3>
      </div>

      <div class="w-full mx-auto grid md:grid-cols-3 sm:grid-cols-2 gap-6">

        {
          imagesGallery.map( (item, index) => (
            <>
              <Card
                key={index}
                url={item.imageurl}
                titulo={item.nombre}
                ejecucion={item.ejecucion}
                duracion={item.duracion}
                monto={item.monto}
              />
            </>
          ))
        }

      </div>

    </main>

  </div>
</Layout>

<style>
  .info {
  background-image: url(src/assets/Galeria-bg.webp);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
</style>
