---
import Card from "@components/card.astro";
import Layout from "@layouts/Layout.astro";
import { imagesGallery } from "data/images";


---

<Layout title="AG | Galeria">
  <div class="info bg-white">

    <main class="max-w-screen-xl mx-auto px-5 py-16">

      <div class="mb-12">
        <h3
          class="text-[#003566] sm:text-7xl text-6xl font-bold lg:tracking-tight xl:tracking-tighter animate__animated animate__fadeInLeft">
          <p class="font-light text-5xl text-[#003566]">Nuestros</p> Proyectos
        </h3>
      </div>

      <div class="w-full mx-auto grid md:grid-cols-3 sm:grid-cols-2 gap-6">

        {
          imagesGallery.map( (item, index) => (
            <>
              <Card
                key={index}
                url={item.imageurl}
                titulo={item.nombre}
                ejecucion={item.ejecucion}
                duracion={item.duracion}
                monto={item.monto}
              />
            </>
          ))
        }

      </div>

    </main>

  </div>
</Layout>

<style>
  .info {
  background-image: url(../assets/Galeria-bg.webp);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
</style>
